//- Social media buttons
div.buttons
  a(href='https://github.com/CharmedSatyr' rel='noopener' target='_blank')
    div
      span.fab.fa-github(aria-hidden='false' title='Read my code on GitHub')
  a(href='https://charmed.social/@faeyre' rel='me noopener' target='_blank')
    div
      span.fab.fa-mastodon(aria-hidden='false' title='Toot me @faeyre@charmed.social')
  a(href='https://keybase.io/CharmedSatyr' rel='noopener' target='_blank')
    div
      span.fab.fa-keybase(aria-hidden='false' title='Check my Keybase proofs')
