.buttons {
    display: inline;

    .fa {
        border-radius: 100%;
        color: $dark;
        font-size: 400%;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        text-shadow: 1px 1px 4px $light, -1px 0 4px $light;

        &:hover {
          text-shadow: 2px 2px 4px $gold, -2px -2px 4px $gold, 2px -2px 4px $gold, -2px 2px 4px $gold;
        }
    }
}
