.middle-section {
    background: $light url('../img/ignasi_pattern_s.png');
    color: $dark;
    font-size: 200%;
    padding: 10% 2% 2%;

    #container {
        align-items: -webkit-center;
        align-items: center;
        display: -webkit-flex;
        display: flex;
        flex-direction: -webkit-column;
        flex-direction: column;
        margin-bottom: 18%;
        text-align: -webkit-justify;
        text-align: justify;
        @media screen and (min-width: 900px) {
            flex-direction: -webkit-row;
            flex-direction: row;
        }

        h2 {
            font-family: 'Inconsolata', monospace;
            text-align: left;
        }

        a {
            color: $dark;
        }

        .content-left {
            order: 1;
        }

        .content-right {
            order: 2;
        }

        .text {
            margin: 5%;
        }
        @media screen and (max-width: 900px) {
            .text {
                order: 1;
            }

            .thumbnail {
                order: 2;
            }
        }
    }
}
