.navbar {
    background: $dark;
    font-family: 'Inconsolata', monospace;
    font-size: 130%;
    font-weight: 700;
    height: 30px;
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100vw;
    @media screen and (max-width: 720px) {
        font-size: 180%;
    }

    a {
        color: #ffffff;
    }
}
