@font-face {
  font-family: 'Dosis';
  font-weight: 200;
  src: url('../fonts/Dosis/Dosis-ExtraLight.ttf');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 800;
  src: url('../fonts/Dosis/Dosis-ExtraBold.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  src: url('../fonts/Inconsolata/Inconsolata-Bold.ttf');
}

@import './_noscript.scss';
@import './_variables.scss';
@import './_navbar.scss';
@import './_top-section.scss';
@import './_middle-section.scss';
@import './_bottom-section.scss';
@import './_thumbnails.scss';

body {
    background: $dark;
    margin: 0;
    font-family: $thin-font;
}
