@import './_variables.scss';
@import './_navbar.scss';
@import './_top-section.scss';
@import './_middle-section.scss';
@import './_bottom-section.scss';
@import './_thumbnails.scss';

body {
    background: $dark;
    margin: 0;
    font-family: $thin-font;
}
