//- About section - different format from projects
section#about
  h1 About Me
  //- Pic + description takes the same style as a project for now
  article.bio
    figcaption.text
      h2 Call me CharmedSatyr
        | &nbsp;
        small (I'm lucky and free!)
      p I'm an American web developer who has just returned home from work overseas in 
        | &nbsp;
        span.gold beautiful 
        | &nbsp;
        | Busan, South Korea. I am available as a
        | &nbsp;
        strong.green freelancer
        | &nbsp;
        | or to relocate
        | &nbsp;
        strong.green full time
        | . I love FOSS, civil liberties, and Cajun breakfasts with my hacker crew.
    figure.thumbnail
      a(href='#contact')
        img(alt='hackathon team photo' class='img-mobile' src='../img/thumbs/google_entrepreneurs-sm.jpg' title="Let's team up!")
        img(alt='hackathon team photo' class='img-desktop' src='../img/thumbs/google_entrepreneurs-lg.jpg' title="Let's team up!")
  h2 Skills
  article.skills
    p Learning and effectively deploying cutting-edge technologies is a passion of mine. I have earned
      | &nbsp;
      a(href='https://www.freecodecamp.org/CharmedSatyr/front-end-certification' rel='noopener' target='_blank')
        span Front End
      | &nbsp;
      | and
      | &nbsp;
      a(href='https://www.freecodecamp.org/CharmedSatyr/back-end-certification' rel='noopener' target='_blank')
        span Back End
      | &nbsp;
      | web development certifications and am fond of the MERN stack; preprocessors like Pug and SCSS; and tools like Git, Yarn, Gulp, and Webpack. I'm working to improve my knowledge of shell scripting and information security to ensure my applications protect users and clients. Need me to learn something new for a project? Just ask.
      div.devicons-section
        span.devicon-html5-plain-wordmark.colored(aria-hidden='false' title='HTML 5')
        span.devicon-css3-plain-wordmark.colored(aria-hidden='false' title='CSS 3')
        span.devicon-bootstrap-plain-wordmark.colored(aria-hidden='false' title='Bootstrap')
        span.devicon-sass-original.colored(aria-hidden='false' title='Sass/SCSS')
        span.devicon-javascript-plain.colored(aria-hidden='false' title='JavaScript ES5/6+')
        span.devicon-jquery-plain-wordmark.colored(aria-hidden='false' title='jQuery')
        span.devicon-gulp-plain.colored(aria-hidden='false' title='Gulp')
        span.devicon-babel-original.colored(aria-hidden='false' title='Babel')
        span.devicon-webpack-plain-wordmark.colored(aria-hidden='false' title='Webpack')
        span.devicon-react-plain-wordmark.colored(aria-hidden='false' title='React')
        //- img(style='height: 35px;' src='../img/redux.png')
        //- span.devicon-redux-plain-wordmark.colored(aria-hidden='false' title='Redux') // Does not exist yet
        span.devicon-nodejs-plain-wordmark.colored(aria-hidden='false' title='Node.js')
        span.devicon-yarn-plain-wordmark.colored(aria-hidden='false', title='Yarn')
        span.devicon-mongodb-plain-wordmark.colored(aria-hidden='false' title='MongoDB/Mongoose')
        span.devicon-express-original-wordmark.colored(aria-hidden='false' title='Express')
        span.devicon-git-plain-wordmark.colored(aria-hidden='false' title='Git')
        span.devicon-heroku-plain-wordmark.colored(aria-hidden='false' title='Heroku')
        span.devicon-linux-plain.colored(aria-hidden='false' title='GNU/Linux')
  h2 Development Environment
  article.environment
    a(href='https://www.debian.org' rel='noopener' target='_blank')
      img(alt='Debian logo' src='../img/debian.png' title='Debian')
    a(href='https://github.com/robbyrussell/oh-my-zsh' rel='noopener' target='_blank')
      img(alt='Oh My Zsh logo' src='../img/oh-my-zsh.png' title='Oh My Zsh')
    a.gnu(href='https://www.gnu.org/software/screen/' rel='noopener' target='_blank')
      img(alt='GNU logo' src='../img/gerwinski-gnu-head.png' title='GNU Screen')
      | GNU Screen
    a(href='https://www.vim.org' rel='noopener' target='_blank')
      img(alt='Vim logo' src='../img/vim-logo-en.png' title='Vim')

