//- Landing view
header#home
  div.contents
    div.satyr
      span.satyr-logo(aria-hidden='true')
    div.title Welcome to Charmed
      span.dot .
      | Tech
    hr
    div.subtitle Creative, Full Stack Web Applications
    hr
    //- Social media buttons
    include social.pug
