meta(charset="UTF-8")
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="author" content="CharmedSatyr")
meta(name="description" content="Looking to hire a full stack JavaScript developer full time or for your next website? Check out CharmedSatyr's online portfolio and get in touch today!")
meta(name="keywords" content="developer,freelance,fullstack,hire,javascript,node,portfolio,pug,react,web")
