//- Fixed navbar with IDs used by scroll.js
nav.navbar
  a(href='#home')
    span Home
  | &nbsp;
  a(href='#projects')
    span Projects
  | &nbsp;
  a(href='#about')
    span About
  | &nbsp;
  a(href='#contact')
    span Contact
