@font-face {
  font-family: 'Dosis-ExtraLight';
  src: url('Dosis-ExtraLight.eot');
  src: url('Dosis-ExtraLight.woff2') format('woff2'),
       url('Dosis-ExtraLight.woff') format('woff'),
       url('Dosis-ExtraLight.ttf') format('truetype'),
       url('Dosis-ExtraLight.svg#Dosis-ExtraLight') format('svg'),
       url('Dosis-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

