@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Light.eot');
  src: url('../fonts/Josefin_Sans/JosefinSans-Light.woff2') format('woff2'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.woff') format('woff'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.svg#JosefinSans-Light') format('svg'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play';
  src: url('../fonts/Play/Play-Regular.eot');
  src: url('../fonts/Play/Play-Regular.woff2') format('woff2'),
    url('../fonts/Play/Play-Regular.woff') format('woff'),
    url('../fonts/Play/Play-Regular.ttf') format('truetype'),
    url('../fonts/Play/Play-Regular.svg#Play-Regular') format('svg'),
    url('../fonts/Play/Play-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play';
  src: url('../fonts/Play/Play-Bold.eot');
  src: url('../fonts/Play/Play-Bold.woff2') format('woff2'),
    url('../fonts/Play/Play-Bold.woff') format('woff'),
    url('../fonts/Play/Play-Bold.ttf') format('truetype'),
    url('../fonts/Play/Play-Bold.svg#Play-Bold') format('svg'),
    url('../fonts/Play/Play-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
