footer {
  align-items: center;
  bottom: 0;
  color: $light;
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 100vw;
  z-index: 10;

  article {
    padding-bottom: 4vh;
    padding-top: 8vh;

    .fsf {
      height: 35px;
      margin-bottom: -10px;
    }

    .eff {
      height: 45px;
      margin-bottom: -15px;
    }

    a {
      color: $light;
    }

    .fa-heart {
      color: $red;
    }
    .fa-bug {
      color: $green;
    }
    .fa-asterisk,
    .fa-star {
      color: $gold;
    }
  }
}
