//- Landing view
header#home
  div.contents
    div.satyr
      span.satyr-logo(aria-hidden='true')
    div.title freeCodeCamp
      i.fab.fa-free-code-camp
    hr
    div.subtitle See how I learned to code!
    hr
    //- Social media buttons
    include ../../modules/social.pug
