#about {
  background: $blue $dmosaic;
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 calc(100% - 30px));
  color: $light;
  font-size: 24px;
  margin-top: -29px; // neg margin-top pulls Projects section to fit with 1px dark border effect
  padding: 5% 2%;

  h1 {
    font-family: $thick-font;
    font-size: 48px;
    margin-bottom: 0;
    padding-left: 3%;
    text-align: left;
    text-shadow: 0 0 1px $dark;
  }

  h2 {
    color: $dark;
    text-align: center;
  }

  a {
    color: $red;
    span {
      color: $light;
    }
  }

  .bio {
    @include showcase();

    .text {
      color: $light;

      // Override mixin colors
      p a {
        color: $red;

        span {
          color: $light;
        }
      }
    }

    .thumbnail {
      img {
        border: 1px solid $gold;
      }
    }
  }

  .skills {
    margin: 0 5% 5%;

    h4 {
      margin: 0;
    }

    p {
      text-align: justify;
    }

    .devicons-section {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 48px;
      justify-content: space-around;
      margin-bottom: 10px;
      text-shadow: 0.5px 0.5px 0 $dark, -0.5px -0.5px 0 $dark, 0.5px -0.5px 0 $light,
        -0.5px 0.5px 0 $dark, 0 0 1px $light;
    }
  }

  .environment {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;

    .gnu {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    a {
      color: $dark;
      text-decoration: none;
    }

    img {
      height: 125px;
      margin: 5%;
    }

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
}
