#about {
  background: $blue;
  color: $light;
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 calc(100% - 30px));
  font-size: 24px;
  margin-top: -29px; // neg margin-top pulls
  padding: 5% 2%;

  .bio {
    @include showcase();
    margin-bottom: auto;

    .text {
      color: $light;
      p a {
        color: $red !important; // Override blue showcase underlines
      }
    }
  }

  a {
    color: $dark;
  }
  .skills {
    display: flex;
    justify-content: space-between;
    margin: 3%;

    h4 {
      margin-bottom: -10px;
    }

    * {
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;

    .gnu {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    img {
      height: 200px;
      margin: 5%;
    }

    @media screen and (max-width: 720px) {
      flex-direction: column;
      img {
        height: 150px;
      }
    }
  }
}
