.bottom-section {
  align-items: center;
  background: $dark;
  bottom: 0;
  color: $light;
  display: flex;
  font-size: 150%;
  height: 100vh;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  text-align: center;

  .contents {
    height: 75vh;
    width: 100vw;

    a {
      color: $light;
    }

    input {
      font-size: 110%;
      height: 28px;
      margin-bottom: 4%;
      margin-top: 1%;
      width: 25%;
    }

    textarea {
      border-radius: 4px;
      font-size: 150%;
      margin-bottom: 2%;
      margin-top: 1%;
      width: 50%;
    }

    .error {
      color: #fc0206;
      margin: 0 0 2px;
    }

    .submit {
      background: $dark;
      border-radius: 4px;
      color: $light;
      cursor: pointer;
      border: 1px solid $light;
      font-family: $thin-font;
      font-size: 100%;
      margin-bottom: 4%;
      margin-left: auto;
      margin-right: auto;
      width: 25vw;

      @media screen and (min-width: 720px) {
        width: 10vw;
      }
    }

    #submitReal {
      display: none;
    }
  }
}

@mixin bottom-wid($iwid, $twid, $imar-bot: 4%, $imar-top: 1%) {
  .bottom-section {
    .contents {
      input {
        margin-bottom: $imar-bot;
        margin-top: $imar-top;
        width: $iwid;
      }

      textarea {
        width: $twid;
      }
    }
  }
}

@include bottom-wid(90vw, 90vw);

@media screen and (min-width: 720px) {
  @include bottom-wid(40vw, 50vw, 2%, 2px);
}
