@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Light.eot');
  src: url('../fonts/Josefin_Sans/JosefinSans-Light.woff2') format('woff2'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.woff') format('woff'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.svg#JosefinSans-Regular') format('svg'),
    url('../fonts/Josefin_Sans/JosefinSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url('../fonts/Inconsolata/Inconsolata-Bold/Inconsolata-Bold.eot');
  src: url('../fonts/Inconsolata/Inconsolata-Bold/Inconsolata-Bold.woff2') format('woff2'),
    url('Inconsolata-Bold.woff') format('woff'),
    url('../fonts/Inconsolata/Inconsolata-Bold/Inconsolata-Bold.ttf') format('truetype'),
    url('../fonts/Inconsolata/Inconsolata-Bold/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg'),
    url('../fonts/Inconsolata/Inconsolata-Bold/Inconsolata-Bold.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
