#home {
  align-items: center;
  background: $dark url('../img/gwangan.jpg') top center/cover no-repeat;
  border: 1px solid $dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
  display: flex;
  height: calc(100vh + 30px);
  justify-content: center;
  margin-bottom: -29px;
  padding-top: 2%;
  text-align: center;

  // All landing page content
  .contents {
    user-select: none;

    .satyr {
      align-items: center;
      background: linear-gradient(250deg, $gold 15%, $red);
      border: 8px solid $dark;
      border-radius: 100%;
      box-shadow: 0.5px 0 $gold, -1px 1px 5px $dark, inset -1px 1px 1px $red,
        inset 1px -1px 1px $gold;
      color: $dark;
      display: flex;
      font-size: 82px;
      height: 130px;
      justify-content: center;
      margin: auto;
      text-shadow: 0.5px 0.5px 1px $gold, -0.5px -0.5px 1px $gold, -0.5px 0.5px 1px $gold;
      width: 130px;
    }

    .title {
      color: $dark;
      font-family: $thick-font;
      font-size: 52px;
      text-shadow: 1px 1px 6px $light, -1px 0 6px $dark;

      .dot {
        color: $red;
        text-shadow: 1px 1px 6px $light, -1px 0 6px $dark, -0.5px -0.5px 0 $dark;
      }
    }

    .subtitle {
      color: $light;
      font-family: $thin-font;
      font-size: 42px;
      font-variant: small-caps;
      text-shadow: 1px 1px 1px $dark, -1px -1px 1px $dark, -1px 1px 1px $dark, 1px -1px 1px $dark;
    }

    // Social buttons container
    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        display: flex; // This exists to keep the .circle element aligned behind the keybase img

        // Font Awesome icons
        .fa {
          color: $dark;
          font-size: 72px;

          &.fa-github {
            &:hover {
              text-shadow: 0 0 6px $green, 0 0 4px $green;
            }
          }

          &.fa-twitter {
            &:hover {
              text-shadow: 2px 2px 4px $purple, -2px -2px 4px $purple, 2px -2px 4px $purple,
                -2px 2px 4px $gold;
            }
          }
        }

        // keybase img file (not font!) is square, so box-shadow doesn't work
        // instead, a circle div sits behind it and lights up on hover
        .circle {
          background: rgba($dark, 0.05);
          border-radius: 100% 100% 70% 70%;
          height: 52px;
          padding-top: -10px;
          width: 64px;

          &:hover {
            background: rgba($gold, 0.7);
            box-shadow: 0 0 6px $gold, 0 -1px 10px $gold;
          }

          .keybase {
            height: 62px;
            margin-top: -9px;
          }
        }
      }
    }
  }
}
