#home {
  align-items: center;
  background: $dark url('../img/gwangan.jpg') top center/cover no-repeat;
  border: 1px solid $dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
  display: flex;
  height: calc(100vh + 30px);
  justify-content: center;
  margin-bottom: -29px;
  padding-top: 2%;
  text-align: center;

  @media screen and (max-width: 650px) {
    // This margin keeps the navbar from overlapping the contents
    margin-top: 30px;
  }

  // All landing page content
  .contents {
    line-height: 1.1;
    user-select: none;

    hr {
      border-bottom: 1px solid $dark;
      border-top: 1px solid $dark;
    }

    .satyr {
      align-items: center;
      background: linear-gradient(250deg, $gold 20%, $red);
      border: 8px solid $dark;
      border-radius: 100%;
      box-shadow: 0.5px 0 $gold, -1px 1px 5px $dark, inset -1px 1px 1px $red,
        inset 1px -1px 1px $gold;
      color: $dark;
      display: flex;
      font-size: 82px;
      height: 130px;
      justify-content: center;
      margin: auto;
      margin-bottom: 10px;
      text-shadow: 0.5px 0.5px 1px $gold, -0.5px -0.5px 1px $gold, -0.5px 0.5px 1px $gold;
      width: 130px;
    }

    .title {
      color: $dark;
      font-family: $thick-font;
      font-size: 52px;
      font-weight: 700;
      text-shadow: 1px -0.5px 2px $light, -1px 0 4px $dark;

      .dot {
        color: $green;
        text-shadow: 0.5px 0.5px 1px $dark, -1px 0 6px $dark, -0.5px -0.5px 0 $dark,
          0.5px 0.5px 3px $light;
      }

      @media screen and (max-width: 320px) {
        font-size: 42px;
      }
    }

    .subtitle {
      color: $light;
      font-family: $thin-font;
      font-size: 42px;
      text-shadow: 1px 1px 1px $dark, -1px -1px 1px $dark, -1px 1px 1px $dark, 1px -1px 1px $dark;
    }

    // Social buttons container
    .buttons {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      text-shadow: 1px -1px 6px $light, -1px 0 6px $dark;

      a {
        // This exists to keep the .circle element aligned behind the keybase img
        display: flex;

        // Font Awesome icons
        .fa {
          color: $dark;
          font-size: 60px;

          &.fa-github {
            &:hover {
              text-shadow: 0 0 6px $green, 0 0 4px $green;
            }
          }

          &.fa-twitter {
            &:hover {
              text-shadow: 2px 2px 4px $purple, -2px -2px 4px $purple, 2px -2px 4px $purple,
                -2px 2px 4px $gold;
            }
          }
        }

        // keybase img file (not font!) is square, so box-shadow doesn't work
        // instead, a circle div sits behind it and lights up on hover
        .circle {
          box-shadow: 1px -1px 6px $light, -1px 0 6px $dark, inset 0 0 5px $light;
          border-radius: 100% 100% 70% 70%;
          height: 46px;
          margin-top: -6px;
          padding-top: -10px;
          width: 54px;

          &:hover {
            background: rgba($gold, 0.7);
            box-shadow: 0 0 6px $gold, 0 -1px 10px $gold;
          }

          .keybase {
            height: 52px;
            margin-top: -6px;
          }
        }
      }
    }
  }
}
