.middle-section {
    background: $light url('../img/ignasi_pattern_s.png');
    color: $dark;
    font-size: 200%;
    padding: 10% 2% 2%;

    #container {
        align-items: -webkit-center;
        align-items: center;
        display: -webkit-flex;
        display: flex;
        flex-direction: -webkit-column;
        flex-direction: column;
        margin-bottom: 18%;
        text-align: -webkit-justify;
        text-align: justify;

        h2 {
            font-family: 'Inconsolata', monospace;
            text-align: left;
        }

        a {
            color: $dark;
        }

        .text {
            -webkit-order: 1;
            margin: 5%;
            order: 1;
        }

        .thumbnail {
            -webkit-order: 2;
            order: 2;
        }
    }
}
//For some reason this is overriding my styling on iPhone 6!!! Why??
@media (min-width: 900px) {
    .middle-section {
        #container {
            flex-direction: -webkit-row;
            flex-direction: row;

            .content-left {
                -webkit-order: 1;
                order: 1;
            }

            .content-right {
                -webkit-order: 2;
                order: 2;
            }
        }
    }
}
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
//Modified to cover a few more phones
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .middle-section {
        #container {
            flex-direction: -webkit-column;
            flex-direction: column;

            .text {
                -webkit-order: 1;
                order: 1;
            }

            .thumbnail {
                -webkit-order: 2;
                order: 2;
            }
        }
    }
}
