.middle-section {
  background: $light url('../img/ignasi_pattern_s.png');
  padding: 10% 2% 2%;

  #container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 18%;

    .text {
      color: $dark;
      margin: 5%;
      font-size: 24px;
      text-align: justify;

      a {
        color: $dark;
      }

      h2 {
        text-align: left;
      }
    }

    .thumbnail {
      img {
        border: 1px solid $dark;

        // mixin from _thumbnails.scss
        @include thumb-media();

        &:hover {
          box-shadow: 0 0 5px $dark;
        }
      }
    }

    // thumbnail and description alternate places by default
    &:nth-child(odd) {
      .text {
        order: 1;
      }
      .thumbnail {
        order: 2;
      }
    }
    &:nth-child(even) {
      .text {
        order: 2;
      }
      .thumbnail {
        order: 1;
      }

      //on narrow screens, text is always above thumbnails
      @media screen and (max-width: $smscreen) {
        flex-direction: column;

        .text {
          order: 1;
        }
        .thumbnail {
          order: 2;
        }
      }
    }
  }
}
