.middle-section {
  background: $light url('../img/ignasi_pattern_s.png');
  height: 100%; // Required or about will be truncated

  .heading {
    font-family: $thick-font;
    font-size: 48px;
    padding-left: 3%;
    text-align: left;
  }

  // Containers
  #projects,
  #about {
    padding: 5% 2% 2%;
  }

  // Individual projects
  #project {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 18%;

    // Project description
    .text {
      color: $dark;
      margin: 5%;
      font-size: 24px;
      order: 1;
      text-align: justify;

      h2 {
        text-align: left;
      }

      // project title url underlines
      a {
        color: $green;
        h2 {
          color: $dark;
        }
      }

      // project description url underlines
      p a {
        color: $blue;
        span {
          color: $dark;
        }
      }
    }

    // Project thumbnail
    .thumbnail {
      order: 2;
      // mixin from _thumbnails.scss
      @include img-style();
    }

    // thumbnail and description are in a column by default
    // however, on wider screens they can spread out.
    // text and image placement will alternate
    @media screen and (min-width: $lgscreen) {
      flex-direction: row;
      &:nth-child(even) {
        .text {
          order: 2;
        }
      }
      .thumbnail {
        order: 1;
      }
    }
  }

  #about {
    font-size: 24px;
    margin-bottom: 18%;
    // The top margin and padding cancel each other out
    // Keeps spacing consistent + proper anchor jump spacing
    margin-top: -22%;
    padding-top: 18%;

    h2 {
      text-align: left;
    }

    a {
      color: $dark;
    }
    p a {
      color: $red !important; // Override blue project underlines
    }

    .skills {
      display: flex;
      justify-content: space-between;
      margin: 3%;
      margin-top: -18%; // Compensates for #project margin-bottom

      h4 {
        margin-bottom: -7px;
      }

      * {
        margin-left: 8px;
        margin-right: 8px;
      }
    }

    .logos {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 100px;

      .gnu {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        height: 200px;
        margin: 5%;
      }

      @media screen and (max-width: 720px) {
        flex-direction: column;
        img {
          height: 150px;
        }
      }
    }
  }
}
