// gulpfile.js resizes thumbnail images at a 3/2 w/h ratio
// lg: 750px x 500px
// sm: 450px x 300px
// show the small image unless screen width is at least $fs or default
@mixin img-file($fs: 500px) {
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
  @media screen and (min-width: $fs) {
    .img-mobile {
      display: none;
    }
    .img-desktop {
      display: block;
    }
  }
}

// Set image height and width
@mixin img-dimensions($w) {
  height: $w * 0.667;
  width: $w;
}

// Set minimum screen width for given img-dimensions
@mixin image-media($w, $minW) {
  @media screen and (min-width: $minW) {
    @include img-dimensions($w);
  }
}

@mixin img-style() {
  // image file depends on screen width
  @include img-file();

  img {
    // basic styling
    border: 1px solid $red;
    transition: all 0.2s ease-in-out; // animated hover effect
    &:hover {
      box-shadow: -1px 6px 8px rgba($dark, 0.7);
      transform: scale(1.015); // scale on hover
    }

    // default size
    @include img-dimensions(150px);

    // smaller screen min-width breakpoints
    $breaks: 250, 300, 350, 400, 450, 500, 550;

    // imgwidth is slightly smaller than minimum screen width
    @each $screenWidth in $breaks {
      $imgWidth: $screenWidth - 15px;
      @include image-media($imgWidth, #{$screenWidth}px);
    }

    // larger screen min-width breakpoints
    @include image-media(550px, 1080px);
    @include image-media(650px, 1200px);
    @include image-media(750px, 1440px);
  }
}

@mixin showcase() {
  align-items: center;
  display: flex;
  flex-direction: column;

  // showcase description
  .text {
    color: $dark;
    margin: 5%;
    font-size: 24px;
    order: 1;
    text-align: justify;

    h2 {
      text-align: left;
    }

    // title url underlines
    a {
      color: $green;
      h2 {
        color: $dark;
      }
    }

    // description url underlines
    p a {
      color: $blue;
      span {
        color: $dark;
      }
    }
  }

  // Project thumbnail
  .thumbnail {
    order: 2;
    @include img-style();
  }

  // thumbnail and description are in a column by default
  // however, on wider screens they can spread out.
  // text and image placement will alternate
  @media screen and (min-width: $lgscreen) {
    flex-direction: row;
    &:nth-child(even) {
      .text {
        order: 2;
      }
    }
    .thumbnail {
      order: 1;
    }
  }
}
