@mixin nav($fs, $pad) {
  padding: $pad;

  a {
    font-size: $fs;
  }
}

.navbar {
  background: $dark;
  font-family: $thick-font;
  position: fixed;
  top: 0;
  width: 100vw;

  a {
    color: $light;
  }

  @media screen and (max-width: 320px) {
    @include nav(120%, 3%);
  }
  @media screen and (min-width: 321px) {
    @include nav(200%, 2%);
  }
  @media screen and (min-width: 666px) and (orientation: landscape) {
    @include nav(180%, 1%);
  }
  @media screen and (min-width: 1024px) and (min-height: 720px) {
    @include nav(180%, 1%);
  }
}
