#projects {
  background: $ignasi;
  padding: 5% 2% 2%;

  // The first 2 values do not entirely work.
  // The last 2 values work to connect to About with a slight border effect
  clip-path: polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0 100%);

  // Individual projects
  #project {
    @include showcase();
  }
}
