#projects {
  background: $ignasi;
  clip-path: polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0 100%);
  padding: 5% 2% 2%;

  h1 {
    font-family: $thick-font;
    font-size: 48px;
    margin-bottom: 0;
    padding-left: 3%;
    text-align: left;
  }

  // Individual projects
  .project {
    @include showcase();

    @media screen and (min-width: $lgscreen) {
      height: 100vh;
    }
  }
}
