@mixin image-respond($w) {
  height: $w * 0.667;
  width: $w;
}

.thumbnail {
  img {
    border: 1px solid $dark;

    @include image-respond(150px);

    $breaks: 250, 300, 350, 400, 450, 500, 550;
    @each $i in $breaks {
      $r: $i - 50px;
      @media screen and (min-width: #{$i}px) {
        @include image-respond($i - 50px);
      }
    }

    @media screen and (min-width: 600px) {
      @include image-respond(525px);
    }
    @media screen and (min-width: 1080px) {
      @include image-respond(550px);
    }
    @media screen and (min-width: 1200px) {
      @include image-respond(650px);
    }
    @media screen and (min-width: 1440px) {
      @include image-respond(750px);
    }

    &:hover {
      box-shadow: 0 0 5px $dark;
    }
  }
}
