@mixin image-respond($w) {
    .thumbnail {
        img {
            height: $w * 0.667;
            border: 1px solid $dark;
            width: $w;

            &:hover {
                -moz-box-shadow: 0 0 5px $dark;
                -webkit-box-shadow: 0 0 5px $dark;
                box-shadow: 0 0 5px $dark;
            }
        }
    }
}
@media screen and (max-width: 200px) {
     @include image-respond(150px);
}
@media screen and (min-width: 201px) {
     @include image-respond(150px);
}
@media screen and (min-width: 250px) {
     @include image-respond(200px);
}
@media screen and (min-width: 300px) {
     @include image-respond(250px);
}
@media screen and (min-width: 350px) {
     @include image-respond(300px);
}
@media screen and (min-width: 400px) {
     @include image-respond(350px);
}
@media screen and (min-width: 450px) {
     @include image-respond(400px);
}
@media screen and (min-width: 500px) {
     @include image-respond(450px);
}
@media screen and (min-width: 550px) {
     @include image-respond(500px);
}
@media screen and (min-width: 600px) {
     @include image-respond(525px);
}
@media screen and (min-width: 1080px) {
     @include image-respond(550px);
}
@media screen and (min-width: 1200px) {
     @include image-respond(650px);
}
@media screen and (min-width: 1440px) {
     @include image-respond(750px);
}
