.top-section {
  align-items: center;
  background: $dark url('../img/gwangan.jpg') top center/cover no-repeat;
  border: 1px solid $dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
  display: flex;
  height: calc(100vh + 30px);
  justify-content: center;
  margin-bottom: -29px;
  padding-top: 2%;
  text-align: center;

  .contents {
    .main-title {
      line-height: 75%;
      margin-bottom: 1%;
      user-select: none;

      @media screen and (max-width: 420px), screen and (max-height: 420px) {
        font-size: 500%;
      }

      @media screen and (min-width: 421px) and (min-height: 421px) {
        font-size: 600%;
      }

      @media screen and (min-width: 720px) and (min-height: 720px) {
        font-size: 700%;
      }

      @media screen and (min-width: 900px) and (min-height: 720px) {
        font-size: 1000%;
      }

      .charmed {
        color: $dark;
        font-family: $thick-font;
        text-shadow: 1px 1px 6px $light, -1px 0 6px $dark;
      }

      .tech {
        color: $light;
        text-shadow: 1px 1px 1px $dark, -1px -1px 1px $dark, -1px 1px 1px $dark, 1px -1px 1px $dark;
        font-variant: small-caps;
        font-family: $thin-font;
      }
    }

    .sub-title {
      color: $light;
      font-family: $thin-font;
      font-size: 450%;
      margin-bottom: 0;
      text-shadow: 1px 1px 1px $dark, -1px -1px 1px $dark, -1px 1px 1px $dark, 1px -1px 1px $dark;
      user-select: none;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        display: flex; // This exists to keep the .circle element aligned behind the keybase img

        // Font Awesome icons
        .fa {
          color: $dark;
          font-size: 500%;

          &.fa-github {
            &:hover {
              text-shadow: 0 0 6px $green, 0 0 4px $green;
            }
          }

          &.fa-twitter {
            &:hover {
              text-shadow: 2px 2px 4px $purple, -2px -2px 4px $purple, 2px -2px 4px $purple,
                -2px 2px 4px $gold;
            }
          }
        }

        // keybase img file (not font!) is square, so box-shadow doesn't work
        // instead, a circle div sits behind it and lights up on hover
        .circle {
          background: rgba(21, 21, 21, 0.05);
          border-radius: 100% 100% 70% 70%;
          height: 68px;
          width: 79px;

          &:hover {
            background: rgba(245, 228, 185, 0.7);
            box-shadow: 0 0 6px $gold;
          }

          .keybase {
            height: 75px;
            margin-top: -6px;
          }
        }
      }
    }
  }
}
