$blue: #2a94ff;
$dark: #151515;
$light: #ebebeb;
$gold: #fcbd70; // #f5e4b9;
$green: #02c682;
$purple: #9dd0eb;
$red: #ef4a65; // #fc0206;
$thin-font: 'Dosis-ExtraLight', monospace;
$thick-font: 'Inconsolata-Bold', sans-serif;
$lgscreen: 900px;
