$blue: #2a94ff;
$dark: #151515;
$light: #ebebeb;
$gold: #fcbd70;
$green: #02c682;
$purple: #9dd0eb;
$red: #ef4a65;

$thick-font: 'Inconsolata-Bold', sans-serif;
$thin-font: 'Josefin_Sans', sans-serif;

$lgscreen: 900px;

$ignasi: url('../img/ignasi_pattern_s.png');
$dmosaic: url('../img/egg-shell.png');
