@import '_fonts';
@import '_variables';
@import '_mixins';
@import '_noscript';
@import '_navbar';
@import '_top-section';
@import '_projects';
@import '_about';
@import '_middle-section';
@import '_bottom-section';
@import '_footer';

body {
  background: $dark;
  margin: 0;
  font-family: $thin-font;
  overflow-x: hidden;
}
