@import '_satyr-font';
@import '_devicon';
@import './fontawesome/brands';
@import './fontawesome/solid';
@import './fontawesome/fontawesome';
@import '_fonts';
@import '_variables';
@import '_mixins';
@import '_noscript';
@import '_navbar';
@import '_home';
@import '_projects';
@import '_about';
@import '_contact';
@import '_footer';

body {
  background: $dark;
  margin: 0;
  font-family: $thin-font;
  overflow-x: hidden;
}
